.gnome {
    display: flex;
    padding: 20px;
}

.gnome__info {
    flex-grow: 1;
    border-radius: 4px;
}

.gnome__info-name {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}

.gnome__avatar {
    max-width: 300px;
    max-height: 300px;

    border-radius: 4px;
    margin-right: 20px;
}

.key-value-info {
    display: flex;
    margin-bottom: 8px;
}

.key-value-info__key {
    width: 140px;
    flex-shrink: 0;
    font-weight: bold;
}

.key-value-info__value {
    display: flex;
    flex-wrap: wrap;
}


.friend {
    white-space: nowrap;
    text-decoration: none;
}

.back-button {
    cursor: pointer;
}

.friend:hover {
    text-decoration: underline;
}

.friend:not(:last-child) {
    margin-right: 3px;
}

.friend:not(:last-child)::after {
    content: ',';
}


@media (max-width: 720px) {
    .gnome {
        flex-wrap: wrap;
    }

    .gnome__avatar {
        max-width: 100%;
        max-height: 100%;
        flex-grow: 1;

        margin-bottom: 20px;
    }
}
